
/**
 * That markdown on the left doesn't look great. Let's render it.
 */

#work-text {
  transition: all 0.5s;
}

#work-text.flipped {
  -webkit-transform: rotateX(0deg) rotateY(190deg) rotateZ(180deg);
}

#work-text .md {
  -webkit-transform: rotateY(190deg) rotateZ(180deg);
  margin-top: 1000px;
  font-family: sans-serif;
}

/**
 * Alright. We're ready.
 *
 * 3...
 * 2...
 * 1...
 */
