
/**
 * We're almost done.
 *
 * Let's just set some animations and get out of here.
 */

 pre:hover{
   box-shadow: 0px 0px 40px 5px rgba(255,255,255,0.4);
 }

 #skip-animation {
   display: none;
 }

/**
 * I hope you enjoyed this.
 *
 * Thanks to Jake Albaugh, who was the first (that I know of) to do
 * a page like this. Some of the autotyping and syntax highlighting
 * code is based off his work.
 *
 * By the way, you can edit this box. Try adding new CSS!
 */
